body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.h3 {
    color: #537fbe;
}

/* article grid */
.custom-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 25px;
    margin: 0 ;
    padding: 0;
    border: 0;
    text-align: left;
    font-size: 1.5rem;
}

.article-image {    
    grid-row: span 4;
}

.table {
    font-size: x-large;    
}

.header-color {
    color: #f5b82e;
}

.buy-layout {
    display: grid;
    grid-template-columns: auto auto;
}

.form {
    padding-left: 10%;
    padding-right: 10%;
}

.chart {
    width: 30%;
    height: 30%;
    margin: auto;
}