{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <div class="mb-3">
        <p class="table">Your current cash balance is: {{ cash | usd }}</p>
    </div><br>
    <form action="/buy" method="post" class="form">
        <div class="buy-layout">
            <div>
                <label for="symbol">Stock Symbol:</label><br><br>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text"><br>            
            </div>
            <div>
                <label for="shares">Shares:</label><br><br>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number"><br>
            </div>            
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Place Order</button>        
    </form>
    <br><hr><br>
    <h3>Not sure what to buy? Here are a few to consider...</h3>
    <br><br>
    <div class="mb-3">
        <table class="table table-borderless chart">
            <thead>
                <tr class="header-color">
                  <th scope="col">Company</th>
                  <th scope="col">Symbol</th>
                </tr>
            </thead>
            <tbody>              
                <tr>
                    <td>Microsoft</td>
                    <td>MSFT</td>                    
                </tr>
                <tr>
                    <td>Apple</td>
                    <td>AAPL</td>
                </tr>  
                <tr>
                    <td>Netflix</td>
                    <td>NFLX</td>
                </tr>  
                <tr>
                    <td>Amazon</td>
                    <td>AMZN</td>
                </tr>  
                <tr>
                    <td>Cigna</td>
                    <td>CI</td>
                </tr>            
            </tbody>
          </table>
    </div>
{% endblock %}