{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Welcome to your portfolio!</h1>
    <img src="https://media.istockphoto.com/id/157308559/photo/money-pile-100-dollar-bills.jpg?s=1024x1024&w=is&k=20&c=IJjHV-iEIwB70mHWbfSxhXNeywhlL4S5pAYNHiDKSZg=">
    <br><br>
    <div class="mb-3">
        <table class="table">
            <thead>
                <tr class="header-color">
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Current Price</th>
                <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
              {% for row in portfolio %}
                <tr>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] | usd }}</td>
                    <td>{{ row[7] | usd }}</td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                  <td>Cash Balance: </td>
                  <td>{{ cash | usd }}</td>
                </tr>
                <tr>
                    <td>Total Holdings: </td>
                    <td>{{ final | usd }}</td>
                  </tr>
              </tfoot>
            </table>
    </div>
    <br>
    <div class="mb-3">
      <form action="/" method="post">
        <div class="mb-3">
            <label for="cash">Would you like to make a deposit?</label><br><br>
            <input autocomplete="off" class="form-control mx-auto w-auto" id="cash" name="cash" placeholder="Cash" type="number"><br>
        </div>
        <button class="btn btn-primary" type="submit">Add Cash</button>
      </form>
    </div>
{% endblock %}