{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<p class="h3">QUOTE</p><br>
<div class="mb-3">
        <table class="table table-borderless table-sm">
            <thead>
                <tr class="header-color">
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ symbol }}</td>
                    <td>{{ name }}</td>
                    <td>{{ price | usd }}</td>
                </tr>
            </tbody>
            </table>
    </div><br>
    <hr>
    <br>
    <p class="h3">NEWS</p><br>
    <div class="custom-container">
        <img src="{{ image }}" class="article-image">
        <a href="{{ url }}">{{ headline }}</a>
        <p>{{ timestamp }}</p>        
        <p>{{ summary }}</p>
        <p>{{ source }}</p>
    </div>  
{% endblock %}